.text-purple{
    color: #800080;
}
.text-green{
    color: #adff2f;
}

.text-shadow-white{
    text-shadow: 2px 2px 3px #ffffff;
}
.text-shadow-dark{
    text-shadow: 2px 2px 3px #000000;
}


h1{
    font-weight: 900;
}



@font-face{
    font-family: AveriaSerif;
    src: url(/src/fonts/averia/AveriaSerifLibre-BoldItalic.ttf);
}
.averia{
    font-family: AveriaSerif !important;
}

@font-face{
    font-family: Raleway;
    src: url(/src/fonts/raleway/static/Raleway-Medium.ttf);
}
.raleway{
    font-family: Raleway !important;
}

@font-face{
    font-family: RalewayBold;
    src: url(/src/fonts/raleway/static/Raleway-ExtraBold.ttf);
}
.raleway-bold{
    font-family: RalewayBold !important;
}

@font-face{
    font-family: ArimaMadurai;
    src: url(/src/fonts/arima/ArimaMadurai-Bold.ttf);
}
.arima{
    font-family: ArimaMadurai !important;
}