p {
    margin: 0;
}

#am > p{
    padding-top: 12px;
    text-align: justify;
}

h1{
    color: #800080;
    font-variant: small-caps;
    font-weight: 900;
}

#content h1{
    padding-left: 12px;
    margin-top: 12px;
    font-style: italic;
}

li{
    padding-top: 20px;
}

