.bg-purple{
    background-color: #800080;
}

.bg-green{
    background-color: #adff2f;
}

p {
    margin: 0;
}

#am > p{
    padding-top: 12px;
    text-align: justify;
}

h1{
    font-style: italic;
    font-variant: small-caps;
    font-weight: 900;
}

li{
    padding-top: 20px;
}

.bg-diamond{
    background-image: url('/src/img/diac_roxo.png');
}

.header-squares{
    background-repeat: no-repeat;
    background-position: right;
    background-image: url('/src/img/squares.png');
}

/*    style="background-image: url('./src/img/diac_roxo.png');"
